  .gitHubButton {
    background-color: #ffffff;
    color: #000000; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px white;
    transition: all 0.4s ease;
    z-index: 1;
  }

.gitHubButton b {
  margin-right: 15px;
}

button.gitHubButton:hover {
  box-shadow: 0 0 10px black;
  background-color: black;
  color: white;
}
  
.gitHubLogo {
    width: 32px;
    margin-right: 8px;
  }
  