footer {
    width: 100vw;
    background-color: var(--sec-color);
    position: relative;
    font-family: 'Gilroy-Light', sans-serif;
    color: white;
    overflow: hidden;
}

div.logo img {
    position: absolute;
    top: 15%;
    left: 30px;
    width: 20%;
    border: 3px solid white;
}

div.contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.contact div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    margin: 20px;
}

h5 {
    margin: 5px;
    letter-spacing: 2px;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 100;
}

.socials {
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.socials a {
    margin: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.socials img:hover, .socials a p:hover {
    color: var(--prim-color);
}

.socials a p {
    color: white;
    margin-left: 5px;
}

h2.newsletter {
    position: relative;
}

a.subscribe {
    background-color: var(--prim-color);
    border-radius: 2px;
    border: 2px solid transparent;
    color: white; 
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: small;
    position: absolute;
    top: 0px;
}

a.subscribe:hover {
    box-shadow: 0 0 3px white;
    border: 2px solid white;
}

small.links {
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}

small.links a{
    text-decoration: none;
    color: white;
}

small.links a:hover {
    color: var(--prim-color);
}