.fillerDiv {
    height: 100px;
}

nav.container {
    width: 100%;
    background-color: var(--prim-color);
    user-select: none;
    position: absolute;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.container ul.desktop {
    position: relative;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

li.logos {
    position: absolute;
    left: 20px;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

li.desktopli {
    color: white;
    font-size: 1.25rem;
    animation: hoverOut 0.3s ease-in forwards;
}

li.desktopli:hover {
    cursor: pointer;
    color: var(--sec-color);
    animation: hoverIn 0.3s ease-in forwards;
}

.activeMenuItem {
    color: var(--sec-color) !important;
}  

@keyframes hoverIn {
    0%   {transform: scale(1); opacity: 0.5;}
    100% {transform: scale(1.15); opacity: 1}
}

@keyframes hoverOut {
    0%   {transform: scale(1.15)}
    100% {transform: scale(1)}
}

div.SignInBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    padding: 10px;
}

li.MenuLogo {
    position: absolute;
    right: 20px;
    padding-top: 10px;
}

li.MenuLogo img { 
    width: 24px;
}