.container {
    width: 100%;
    background-color: var(--prim-color);
}

.container ul {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

li {
    color: white;
    font-size: 1.25rem;
    font-family:  "Gilroy-Bold", sans-serif;
}

li:hover {
    cursor: pointer;
    transform: scale(1.15);
}