.container {
    width: 100%;
    background-color: var(--prim-color);
    user-select: none;
}

.container ul {
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

li {
    color: white;
    font-size: 1.25rem;
    font-family:  "Gilroy-Bold", sans-serif;
    animation: hoverOut 0.3s ease-in forwards;
}

li:hover {
    cursor: pointer;
    animation: hoverIn 0.3s ease-in forwards;
}

@keyframes hoverIn {
    0%   {transform: scale(1); opacity: 0.5;}
    100% {transform: scale(1.15); opacity: 1}
}

@keyframes hoverOut {
    0%   {transform: scale(1.15)}
    100% {transform: scale(1)}
}