.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin-top: 10px;
    /* background-color: var(--prim-color); */
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadeIn.show {
    opacity: 1;
}

quote.fadeIn {
    font-size: large;
}