.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadeIn.show {
    opacity: 1;
}